.boardWrap {
  z-index: 2;
  grid-row: 2;
  display: grid;
  justify-content: center;
  align-content: start;
  font-size: 1.8em;
}

.listWrap {
  display: grid;
  max-height: 55vh;
  overflow-y: scroll;
  margin-top: 3em;
  padding: 2em;
}

.boardWrap li {
  display: grid;
  grid-template-columns: auto 2em 1fr auto auto;
  grid-gap: 10px;
  color: #356abc;
  align-items: center;
  align-content: center;
}

li img {
  width: 1.5em;
  height: 1.5em;
}

hr {
  border-style: solid 2px;
  border-color: #356abc;
}
