.homeWrap {
  background-color: white;
  display: grid;
  grid-row: 2;
}

.homeImageContainer {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.homeImageContainer img {
  width: auto;
  height: 50em;
}

@media only screen and (min-width: 1600px) {
  .homeImageContainer {
    height: 80em;
    width: auto;
  }

  .homeImageContainer img {
    width: auto;
    height: 80em;
  }
}
